.introduction p {
    margin: 0;
}

.introduction > .name {
    color: var(--fc-light);
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
    line-height: 56px;
}

@media screen and (max-width: 1024px) {
    .introduction > .name {
        font-size: 36px;
    }
}

@media screen and (max-width: 450px){
    .introduction > .name{
        font-size: 28px;
        line-height: 48px;
        margin-bottom: 10px;
    }
}

.introduction > .expertise {
    color: #aaaaaa;
    line-height: 19px;
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 10px;
}