.skills-list{
    width: 100%;
}

.skills-list .skills-grid{
    fill: var(--fc-light);

    margin-top:24px;
}

.skills-grid{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 32px;
    grid-row-gap: 0px;
}

.skill-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    box-sizing:border-box;
}