.footer {
    background-color: var(--c-dark);
    display: flex;
    align-items: center;
    border-top: 1px solid var(--c-btn-dark);
    min-height: 56px;
    max-width: 100%;
    overflow: hidden;
    padding-inline: 3rem;
    margin-top: 2rem;
}

.contact-link:hover {
    opacity: 1;
}

.footer > .contact {
    display: flex;
    flex-direction: row;
    gap: 36px;
    color: var(--fc-body);
}

@media screen and (max-width: 480px) {
    .footer{
        padding-block: 2rem;
        margin-top: 1rem;
    }

    .footer > .contact {
        flex-direction: column;
        gap: 2rem;
    }
}