body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: var(--c-dark-bg);
}

input,
textarea,
button,
select,
a {
    -webkit-tap-highlight-color: transparent;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
    --fc-body: #d5d5d5;
    --fc-heading: #333333;
    --fc-light: #f6f6f6;

    --c-primary: #3379E0;
    --c-dark: #252525;
    --c-dark-bg: #222222;
    --c-btn-dark: #333333;
    --c-gray: #ddd;

    --fs-button: 14px;

    --icon-and-text-gap: 18px;

    --border-radius: 10px;
    --blur-radius: 8px;
}