@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

.background {
    box-sizing: border-box;
    position: absolute;
    z-index: -5;
    min-width: 100%;
    min-height: 100%;
}

.background * {
    margin: 0;
    padding: 0;
}

.background > div {
    position: absolute;
    filter: blur(100px);
}

.background > div:nth-child(1) {
    left: 25%;
    bottom: 50%;
    transform: translate(-25%, 50%);
    width: clamp(200px, 50vw, 400px);
    fill: rgba(0, 255, 208, 0.35);
}

.background > div:nth-child(2) {
    left: 15%;
    top: 15%;
    transform: translate(-25%, -50%);
    width: 300px;
    fill: rgba(0, 99, 247, 0.47);
}

.background > div:nth-child(3) {
    right: 15%;
    bottom: 25%;
    width: clamp(400px, 60vw, 600px);
    fill: rgba(165, 0, 247, 0.25);
}